In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("Fraud_check.csv")

In [7]:
df.head()

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Undergrad        600 non-null    object
 1   Marital.Status   600 non-null    object
 2   Taxable.Income   600 non-null    int64
 3   City.Population  600 non-null    int64
 4   Work.Experience  600 non-null    int64
 5   Urban            600 non-null    object
dtypes: int64(3), object(3)
memory usage: 28.2+ KB

In [9]:
df.columns

Index(['Undergrad', 'Marital.Status', 'Taxable.Income', 'City.Population',
       'Work.Experience', 'Urban'],
      dtype='object')

In [10]:
new = []
for i in df["Taxable.Income"]:
  if i <=30000:
    new.append("Risky")
  else:
    new.append("Good")

In [11]:
df["tx"] = new

In [12]:
df_ob = df.select_dtypes("object")
df_int = df.select_dtypes("int64")

In [13]:
df_int

     Taxable.Income  City.Population  Work.Experience
0             68833            50047               10
1             33700           134075               18
2             36925           160205               30
3             50190           193264               15
4             81002            27533               28
..              ...              ...              ...
595           76340            39492                7
596           69967            55369                2
597           47334           154058                0
598           98592           180083               17
599           96519           158137               16

[600 rows x 3 columns]

In [14]:
df_ob

    Undergrad Marital.Status Urban    tx
0          NO         Single   YES  Good
1         YES       Divorced   YES  Good
2          NO        Married   YES  Good
3         YES         Single   YES  Good
4          NO        Married    NO  Good
..        ...            ...   ...   ...
595       YES       Divorced   YES  Good
596       YES       Divorced   YES  Good
597        NO       Divorced   YES  Good
598       YES        Married    NO  Good
599        NO       Divorced    NO  Good

[600 rows x 4 columns]

In [15]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [16]:
for i in df_ob:
  df_ob[i] = LE.fit_transform(df_ob[i])

In [17]:
df_ob

     Undergrad  Marital.Status  Urban  tx
0            0               2      1   0
1            1               0      1   0
2            0               1      1   0
3            1               2      1   0
4            0               1      0   0
..         ...             ...    ...  ..
595          1               0      1   0
596          1               0      1   0
597          0               0      1   0
598          1               1      0   0
599          0               0      0   0

[600 rows x 4 columns]

In [18]:
df5 = pd.concat([df_ob, df_int],axis = 1)

In [19]:
df5

,Undergrad,Marital.Status,Urban,tx,Taxable.Income,City.Population,Work.Experience
0,0,2,1,0,68833,50047,10
1,1,0,1,0,33700,134075,18
2,0,1,1,0,36925,160205,30
3,1,2,1,0,50190,193264,15
4,0,1,0,0,81002,27533,28
...,...,...,...,...,...,...,...
595,1,0,1,0,76340,39492,7
596,1,0,1,0,69967,55369,2
597,0,0,1,0,47334,154058,0
598,1,1,0,0,98592,180083,17
599,0,0,0,0,96519,158137,16

In [20]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
df5 = SS.fit_transform(df5)

In [21]:
df5 = pd.DataFrame(df5, columns = [['Undergrad', 'Marital.Status', 'Taxable.Income', 'City.Population',
       'Work.Experience', 'Urban', 'tx']])

In [22]:
df5

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban,tx
0,-1.040833,1.160800,0.993355,-0.510396,0.520362,-1.178521,-0.629143
1,0.960769,-1.274445,0.993355,-0.510396,-0.821464,0.508500,0.276370
2,-1.040833,-0.056822,0.993355,-0.510396,-0.698292,1.033109,1.634639
3,0.960769,1.160800,0.993355,-0.510396,-0.191666,1.696831,-0.063197
4,-1.040833,-0.056822,-1.006689,-0.510396,0.985129,-1.630532,1.408261
...,...,...,...,...,...,...,...
595,0.960769,-1.274445,0.993355,-0.510396,0.807075,-1.390432,-0.968710
596,0.960769,-1.274445,0.993355,-0.510396,0.563672,-1.071672,-1.534655
597,-1.040833,-1.274445,0.993355,-0.510396,-0.300744,0.909696,-1.761033
598,0.960769,-0.056822,-1.006689,-0.510396,1.656940,1.432197,0.163181
599,-1.040833,-1.274445,-1.006689,-0.510396,1.577766,0.991590,0.049992

In [23]:
df5 = df5.drop(df5.columns[2], axis = 1)

In [24]:
df5

,Undergrad,Marital.Status,City.Population,Work.Experience,Urban,tx
0,-1.040833,1.160800,-0.510396,0.520362,-1.178521,-0.629143
1,0.960769,-1.274445,-0.510396,-0.821464,0.508500,0.276370
2,-1.040833,-0.056822,-0.510396,-0.698292,1.033109,1.634639
3,0.960769,1.160800,-0.510396,-0.191666,1.696831,-0.063197
4,-1.040833,-0.056822,-0.510396,0.985129,-1.630532,1.408261
...,...,...,...,...,...,...
595,0.960769,-1.274445,-0.510396,0.807075,-1.390432,-0.968710
596,0.960769,-1.274445,-0.510396,0.563672,-1.071672,-1.534655
597,-1.040833,-1.274445,-0.510396,-0.300744,0.909696,-1.761033
598,0.960769,-0.056822,-0.510396,1.656940,1.432197,0.163181
599,-1.040833,-1.274445,-0.510396,1.577766,0.991590,0.049992

In [25]:
X = df5.iloc[:,0:4]
Y = df_ob.iloc[:,-1]

In [26]:
X

    Undergrad Marital.Status City.Population Work.Experience
0   -1.040833       1.160800       -0.510396        0.520362
1    0.960769      -1.274445       -0.510396       -0.821464
2   -1.040833      -0.056822       -0.510396       -0.698292
3    0.960769       1.160800       -0.510396       -0.191666
4   -1.040833      -0.056822       -0.510396        0.985129
..        ...            ...             ...             ...
595  0.960769      -1.274445       -0.510396        0.807075
596  0.960769      -1.274445       -0.510396        0.563672
597 -1.040833      -1.274445       -0.510396       -0.300744
598  0.960769      -0.056822       -0.510396        1.656940
599 -1.040833      -1.274445       -0.510396        1.577766

[600 rows x 4 columns]

In [41]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
595    0
596    0
597    0
598    0
599    0
Name: tx, Length: 600, dtype: int64

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.25, random_state = 42)

In [29]:
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(450, 4) (150, 4) (450,) (150,)

In [30]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier(n_estimators = 100, criterion = "entropy", max_samples =0.5, max_features = 0.6, min_samples_split = 5)
RFC.fit(X_train,Y_train)

RandomForestClassifier(criterion='entropy', max_features=0.6, max_samples=0.5,
                       min_samples_split=5)

In [31]:
Y_pred_train = RFC.predict(X_train)
Y_pred_test = RFC.predict(X_test)

In [35]:
Y_pred_test

array([1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0])

In [36]:
Y_test

110    1
419    0
565    0
77     0
181    1
      ..
117    0
382    0
405    0
33     0
0      0
Name: tx, Length: 150, dtype: int64

In [33]:
from sklearn.metrics import accuracy_score
print('Training Score',accuracy_score(Y_pred_train,Y_train))
print('Testing Score',accuracy_score(Y_pred_test,Y_test))

Training Score 1.0
Testing Score 1.0

In [37]:
#checking the hyper parameter optimization for checking the best parameter
from sklearn.model_selection import RandomizedSearchCV
n_estimators = [100,200,300,400,500,600]
criterion = ['entropy','gini']
max_samples = [0.5,0.6,0.7,0.8,0.9]
max_features = [0.5,0.6,0.7,0.8,0.9]
min_samples_split = [4,5,6,7,8]
value = {
    'n_estimators':n_estimators,
    'criterion':criterion,
    'max_samples':max_samples,
    'max_features':max_features,
    'min_samples_split':min_samples_split
}
RSCV = RandomizedSearchCV(RFC,cv  = 5,param_distributions = value,n_iter = 10,n_jobs = -1)
RSCV.fit(X_train,Y_train)
print(RSCV)

RandomizedSearchCV(cv=5,
                   estimator=RandomForestClassifier(criterion='entropy',
                                                    max_features=0.6,
                                                    max_samples=0.5,
                                                    min_samples_split=5),
                   n_jobs=-1,
                   param_distributions={'criterion': ['entropy', 'gini'],
                                        'max_features': [0.5, 0.6, 0.7, 0.8,
                                                         0.9],
                                        'max_samples': [0.5, 0.6, 0.7, 0.8,
                                                        0.9],
                                        'min_samples_split': [4, 5, 6, 7, 8],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600]})

In [39]:
RSCV.best_params_

{'n_estimators': 300,
 'min_samples_split': 7,
 'max_samples': 0.9,
 'max_features': 0.6,
 'criterion': 'gini'}

In [40]:
from sklearn.model_selection import KFold,cross_val_score
K = KFold(20)
result = cross_val_score(RFC,X,Y,cv = K)
print(np.mean(result))

1.0