In [59]:
#Q7

In [60]:
import pandas as pd
import numpy as np
df = pd.read_csv("Q7.csv")
df.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [61]:
df[['Points','Score','Weigh']].describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [62]:
df[['Points', 'Score','Weigh']].mean()

Points     3.596563
Score      3.217250
Weigh     17.848750
dtype: float64

In [63]:
df[['Points','Score','Weigh']].median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [64]:

df[['Points', 'Score','Weigh']].mode()

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

In [65]:
df[['Points','Score','Weigh']].var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [66]:
df[['Points','Score','Weigh']].std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [67]:
range = df[['Points','Score','Weigh']].max()-df[['Points','Score','Weigh']].min()
range

Points    2.170
Score     3.911
Weigh     8.400
dtype: float64

In [68]:
#Q9_a

In [69]:
import pandas as pd

In [70]:
df1 = pd.read_csv("Q9_a.csv")
df1.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [71]:
df1.dtypes

Index    int64
speed    int64
dist     int64
dtype: object

In [72]:
df1['speed'].skew()

-0.11750986144663393

In [73]:
df1['dist'].skew()

0.8068949601674215

In [74]:
df1['speed'].kurt()

-0.5089944204057617

In [75]:
df1['dist'].kurt()

0.4050525816795765

In [76]:
#Q9_b

In [77]:
df2 = pd.read_csv("Q9_b.csv")
df2.head()

   Unnamed: 0          SP         WT
0           1  104.185353  28.762059
1           2  105.461264  30.466833
2           3  105.461264  30.193597
3           4  113.461264  30.632114
4           5  104.461264  29.889149

In [78]:
df2["SP"].skew()

1.6114501961773586

In [79]:
df2["WT"].kurt()

0.9502914910300326

In [80]:
df2["SP"].kurt()

2.9773289437871835

In [81]:
df2["WT"].skew()

-0.6147533255357768

In [82]:
#Q11

In [83]:
from scipy import stats
from scipy.stats import norm

In [84]:
stats.norm.interval(0.06,200,30)

(197.7419041370051, 202.2580958629949)

In [85]:
stats.norm.interval(0.04,200,30)

(198.495392496058, 201.504607503942)

In [86]:

stats.norm.interval(0.02,200,30)

(199.24793275223865, 200.75206724776135)

In [87]:
#Q12

In [88]:
d1 = {"marks":[34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56]}
df = pd.DataFrame(d1)
df

    marks
0      34
1      36
2      36
3      38
4      38
5      39
6      39
7      40
8      40
9      41
10     41
11     41
12     41
13     42
14     42
15     45
16     49
17     56

In [89]:
df.describe()

           marks
count  18.000000
mean   41.000000
std     5.052664
min    34.000000
25%    38.250000
50%    40.500000
75%    41.750000
max    56.000000

In [90]:
df.mean()

marks    41.0
dtype: float64

In [91]:
df.var()

marks    25.529412
dtype: float64

In [92]:
#20

In [96]:
from scipy.stats import norm
df3 = pd.read_csv("Cars (1).csv")
df3

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [97]:
df3['MPG'].mean()
m = df3["MPG"].mean()
df3["MPG"].std()
sd = df3["MPG"].std()

In [98]:
nd = norm(m,sd)
#a
1-nd.cdf(38)

0.3475939251582705

In [99]:
#b
nd.cdf(40) - nd.pdf(40)

0.6930967645682727

In [100]:
#C
nd.cdf(50) - nd.cdf(20)

0.8988689169682046

In [101]:
#Q21_a

In [102]:
from scipy.stats import shapiro

In [104]:
stat,p = shapiro(df3["MPG"])
print(stat)

0.9779686331748962

In [105]:
print("p value",p)

p value 0.17639249563217163

In [106]:
alpha = 0.05
if(p<alpha):
    print("Ho is rejected, H1 is accepted")
else:
    print("Ho is accepted, H1 is rejected")

Ho is accepted, H1 is rejected

In [107]:
#21_b

In [112]:
import pandas as pd
df4 = pd.read_csv("wc-at (1).csv")

In [109]:
from scipy.stats import shapiro

In [113]:
stat,p = shapiro(df4["Waist"])
print(stat)
print("p value",p)
alpha = 0.05
if(p<alpha):
    print("Ho is rejected H1 is accepted")
else:
    print("Ho is accepted, H1 is rejected")

0.9558579921722412
p value 0.0011704873759299517
Ho is rejected H1 is accepted

In [115]:
stat,p = shapiro(df4["AT"])
print(stat)
print("p value",p)
alpha = 0.05
if(p<alpha):
    print("Ho is rejected, H1 is accepted")
else:
    print("Ho is accepted , H1 is rejected")

0.9523370862007141
p value 0.0006539996829815209
Ho is rejected, H1 is accepted

In [116]:
#Q22

In [117]:
import scipy.stats as stats
stats.norm.ppf(0.95).round(4)

1.6449

In [119]:
import scipy.stats as stats
stats.norm.ppf(0.97).round(4)

1.8808

In [120]:
import scipy.stats as stats
stats.norm.ppf(0.80).round(4)

0.8416

In [121]:
#Q23

In [122]:
import scipy.stats as stats
stats.t.ppf(q=0.975,df=24).round(4)

2.0639

In [123]:
stats.t.ppf(q=0.98,df=24).round(4)

2.1715

In [124]:
stats.t.ppf(q=0.995,df=24).round(4)

2.7969