# Q1

In [1]:
import pandas as pd
df = pd.read_csv("Cutlets (1).csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [2]:
#Null hypothesis  = Unit A ==unit B
#Alternative hypothesis  = Unit A not equal unit B

In [3]:
from scipy import stats 
Zcal,pval  = stats.ttest_ind(df['Unit A'],df["Unit B"])
alpha = 0.05
Zcal, pval

(0.7228688704678063, 0.4722394724599501)

In [4]:
if pval<alpha:
    print("Ho is rejected, H1 is accepted")
else:
    print("HO is accpted, H1 is rejected")

HO is accpted, H1 is rejected

# Q2

In [5]:
df1  = pd.read_csv("LabTAT.csv")
df1

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [8]:
import scipy.stats as stats
ftab,pval = stats.f_oneway(df1['Laboratory 1'],df1['Laboratory 2'],df1['Laboratory 3'],df1['Laboratory 4'])
alpha = 0.05
if pval<alpha:
    print("Ho is rejected, H1 is accepted")
else:
    print("Ho is accepted, H1 is rejected")

Ho is rejected, H1 is accepted

# Q3

In [9]:
from scipy import stats
import pandas as pd
df3 = pd.read_csv("BuyerRatio (1).csv")
df3

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [10]:
data=[[50,142,131,70],[435,1523,1356,750]]

In [11]:
stat,pval,df,exp=stats.chi2_contingency(data)

In [12]:
pval

0.6603094907091882

In [13]:
exp

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [14]:
Expectedvalues=list(exp)
Observedvalues=data

In [15]:
stat,pvalue=stats.chisquare(Observedvalues,Expectedvalues,ddof=3)

In [16]:
pval

0.6603094907091882

In [17]:
if pval<0.05:
    print("H0 is rejected and H1 is accepted")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted

# Q4

In [18]:
from scipy import stats
import pandas as pd
df4 = pd.read_csv("Costomer+OrderForm (1).csv")
df4

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [19]:
Table=[[271,267,269,280],[29,33,31,20]]

In [20]:
stat,pvalue,df,exp=stats.chi2_contingency(Table)

In [21]:
stat

3.858960685820355

In [22]:
pvalue

0.2771020991233135

In [23]:
exp

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [24]:
ExpectedValues=[271.75, 271.75, 271.75, 271.75,
       28.25,  28.25,  28.25,  28.25]
ObservedValues=[271,267,269,280,29,33,31,20]

In [25]:
Stat,Pvalue=stats.chisquare(ObservedValues,ExpectedValues,ddof=df)

In [26]:
Pvalue

0.4254298144535761

In [27]:
if pval<0.05:
    print("H0 is rejected and H1 is accepted")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted